# task and env
env:
  name: HalfCheetah-v3
  task: ""
  exp_name: ${env.name}_TD3
  library: gymnasium
  seed: 42
  max_episode_steps: 200

# collector
collector:
  total_frames: 20000
  init_random_frames: 5000
  init_env_steps: 1000
  frames_per_batch: 200
  reset_at_each_iter: False
  device: cpu
  env_per_collector: 1
  num_workers: 1

# replay buffer
replay_buffer:
  prb: 0 # use prioritized experience replay
  size: 1000000
  scratch_dir: ${env.exp_name}_${env.seed}

# optim
optim:
  utd_ratio: 1.0
  gamma: 0.99
  loss_function: l2
  lr: 3.0e-4
  weight_decay: 0.0
  adam_eps: 1e-4
  batch_size: 256
# IQL hyperparameter
  temperature: 3.0
  expectile: 0.7
# network
network:
  hidden_sizes: [256, 256]
  activation: relu
  device: "cuda:0"

# logging
logger:
  backend: wandb
  mode: online
  eval_iter: 25000
